In [2]:
import pandas as pd

In [3]:
all_jobs_file = '../data/postings/all_jobs.csv'
all_jobs = pd.read_csv(all_jobs_file)
all_jobs.head(5)

,job_title,company,location,description,date_posted,expected_skills
0,Lead Software Engineer,Simon & Schuster,"New York, NY",<p>Simon &amp; Schuster is seeking a Lead Soft...,2019-09-11 18:59:59+00:00,JAVASCRIPT PYTHON SQL LINUX AZURE AWS GITHUB N...
1,Web Developer,Noe & Associates,"New York, NY",<p>A leading international branding and design...,2019-09-09 15:29:25+00:00,JAVASCRIPT PHP HTML RUBY LINUX WORDPRESS HTML5...
2,Front End Developer,Prosek Partners,"Fairfield, CT","<p>Background</p>\n<p>Prosek Partners, one of ...",2018-11-19 19:40:01+00:00,JAVASCRIPT UI CSS UX WINDOWS HTML5 CSS3 DOM CR...
3,Cybersecurity Firm Seeks Senior Developer,Aon Cyber Solutions,NY or LA,<p>Aon Cyber Solutions is looking for a Senior...,2018-11-19 15:44:44+00:00,REACT NODEJS DJANGO GIT POSTGRESQL APACHE REST...
4,Lead Front End Developer,The Atlantic,"Washington, DC & New York, NY",<p>The Atlantic is a digital-first media compa...,2018-11-14 22:16:02+00:00,JAVASCRIPT HTML CSS NODEJS GIT CHARACTER ES6

In [4]:
from dateutil.parser import parse

date = all_jobs.iloc[0]['date_posted']

def standardize_dates(date):
    dt = parse(date)
    month = dt.month
    if len(str(month)) < 2:
        month = '0' + str(month)
    return '{}-{}-{} {}:{}:{}'.format(
        dt.year, 
        month, 
        dt.day, 
        dt.hour, 
        dt.minute, 
        dt.second
    )

all_jobs.date_posted = all_jobs.date_posted.apply(lambda date: standardize_dates(date))
all_jobs.head(3)

,job_title,company,location,description,date_posted,expected_skills
0,Lead Software Engineer,Simon & Schuster,"New York, NY",<p>Simon &amp; Schuster is seeking a Lead Soft...,2019-09-11 18:59:59,JAVASCRIPT PYTHON SQL LINUX AZURE AWS GITHUB N...
1,Web Developer,Noe & Associates,"New York, NY",<p>A leading international branding and design...,2019-09-9 15:29:25,JAVASCRIPT PHP HTML RUBY LINUX WORDPRESS HTML5...
2,Front End Developer,Prosek Partners,"Fairfield, CT","<p>Background</p>\n<p>Prosek Partners, one of ...",2018-11-19 19:40:1,JAVASCRIPT UI CSS UX WINDOWS HTML5 CSS3 DOM CR...